# Python bytecode
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
env/

# ML dataset
ml/data
ml/data/**

# Training artifacts
ml/checkpoints/
ml/runs/
ml/outputs/
!ml/outputs/exported/

# Quartus generated folders
hardware/Quartus/db/
Quartus/**/incremental_db/
Quartus/**/greybox_tmp/
Quartus/**/qdb/
Quartus/**/hc_output/

# Compilation outputs
quartus/**/output_files/
*.sof
*.pof
*.jic
*.rbf
*.rpt
*.summary
*.smsg
*.done
*.qws
*.log

# Simulation junk
quartus/**/simulation/
transcript
*.wlf

