# Python bytecode
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
env/

# ML dataset
ml/data
ml/data/**

# Training artifacts
ml/checkpoints/
ml/runs/
ml/outputs/
!ml/outputs/exported/

# Quartus generated folders
hardware/Quartus/**/db/
hardware/Quartus/**/incremental_db/
hardware/Quartus/**/greybox_tmp/
hardware/Quartus/**/qdb/
hardware/Quartus/**/hc_output/
hardware/Quartus/**/output_files/
hardware/Quartus/**/simulation/


# Compilation outputs
quartus/**/output_files/
*.sof
*.pof
*.jic
*.rbf
*.rpt
*.summary
*.smsg
*.done
*.qws
*.log

# Simulation junk
quartus/**/simulation/
transcript
*.wlf

